bot.name=
bot.token=

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

spring.flyway.baseline-on-migrate=true
spring.flyway.enabled=true

logging.level.org.flyway=DEBUG

openrouter.api.key=
openrouter.api.url=https://openrouter.ai/api/v1/chat/completions

openrouter.api.model.url=google/gemini-2.5-pro

google.docs.document.id=

google.cloud.json.configuration=

trello.api.key=
trello.token=
trello.id.list=